.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

#contain {
  fill: green;
}

.link.contain {
  fill: none;
  stroke: green;
}

.link.resolved {
  stroke-dasharray: 0,2 1;
}

circle {
  fill: #ccc;
  stroke: #333;
  stroke-width: 1.5px;
}

.selected {
  fill: yellow;
}

.link.route {
  stroke: red;
}
.node.route {
  fill: red;
}

text {
  font: 10px sans-serif;
  pointer-events: none;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}

#info {
  width: 30%;
  float: right;
}

input {
  vertical-align: middle;
}
